@import './mixin.scss';
@import './theme.scss';
html,
body {
  color: #333333;
//   font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.app-container {
    padding-bottom: 50px;
}